<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>LoadPro</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>FilterHome</filter-name>
        <filter-class>Filter.FilterHome</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterHome</filter-name>
        <url-pattern>/LoadPro</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>Filter.FilterAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAdmin</filter-name>
        <url-pattern>/AdCusPage</url-pattern>
        <url-pattern>/AdProPage</url-pattern>
        <url-pattern>/AddPr</url-pattern>
        <url-pattern>/DeleteCus</url-pattern>
        <url-pattern>/DeletePr</url-pattern>
        <url-pattern>/UpdateCus</url-pattern>
        <url-pattern>/UpdatePr</url-pattern>
        <url-pattern>/SettingAd</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoadPro</servlet-name>
        <servlet-class>Controller.LoadPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlSignIn</servlet-name>
        <servlet-class>Controller.ControlSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlSignUp</servlet-name>
        <servlet-class>Controller.ControlSignUp</servlet-class>
    </servlet>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>hungnxhe160592@fpt.edu.vn</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>hungnguyen2002</param-value>
    </context-param>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>Controller.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>Controller.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAll</servlet-name>
        <servlet-class>Controller.LoadAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDetail</servlet-name>
        <servlet-class>Controller.LoadDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdProPage</servlet-name>
        <servlet-class>Controller.AdProPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdCusPage</servlet-name>
        <servlet-class>Controller.AdCusPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePr</servlet-name>
        <servlet-class>Controller.DeletePr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCus</servlet-name>
        <servlet-class>Controller.DeleteCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePr</servlet-name>
        <servlet-class>Controller.UpdatePr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCus</servlet-name>
        <servlet-class>Controller.UpdateCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPr</servlet-name>
        <servlet-class>Controller.AddPr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPr</servlet-name>
        <servlet-class>Controller.SearchPr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingCus</servlet-name>
        <servlet-class>Controller.SettingCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingAd</servlet-name>
        <servlet-class>Controller.SettingAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>Controller.Buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>Controller.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill</servlet-name>
        <servlet-class>Controller.Bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cate</servlet-name>
        <servlet-class>Controller.Cate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cateprice</servlet-name>
        <servlet-class>Controller.Cateprice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadPro</servlet-name>
        <url-pattern>/LoadPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlSignIn</servlet-name>
        <url-pattern>/ControlSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlSignUp</servlet-name>
        <url-pattern>/ControlSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAll</servlet-name>
        <url-pattern>/LoadAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDetail</servlet-name>
        <url-pattern>/LoadDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdProPage</servlet-name>
        <url-pattern>/AdProPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdCusPage</servlet-name>
        <url-pattern>/AdCusPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePr</servlet-name>
        <url-pattern>/DeletePr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCus</servlet-name>
        <url-pattern>/DeleteCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePr</servlet-name>
        <url-pattern>/UpdatePr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCus</servlet-name>
        <url-pattern>/UpdateCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPr</servlet-name>
        <url-pattern>/AddPr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPr</servlet-name>
        <url-pattern>/SearchPr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingCus</servlet-name>
        <url-pattern>/SettingCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingAd</servlet-name>
        <url-pattern>/SettingAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/Buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill</servlet-name>
        <url-pattern>/Bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cate</servlet-name>
        <url-pattern>/Cate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cateprice</servlet-name>
        <url-pattern>/Cateprice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3600
        </session-timeout>
    </session-config>
</web-app>
